body{
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    /*Custom properties / variables*/
    --main-color: #03A9F4;
    --secondary-color: #EA1E63;
}

.bg-main:first-child{
    background-image: linear-gradient(purple, var(--main-color));
}

.bg-main{
    background-color: var(--main-color);
}

.bg-secondary{
    background-color: var(--secondary-color);
}