body{
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    scroll-behavior: smooth;
    /*Custom properties / variables*/
    --main-color: #03A9F4;
    --secondary-color: #EA1E63;
    --footer-color: #74D7FE;
}

.bg-secondary{
    background-color: var(--secondary-color);
}