input[name="txt-email"]{
    margin: 20px 10px;
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid white;
    width: 100%;
}

input[name="txt-email"]::placeholder{
    color: white;
}

input[name="txt-email"]:focus-visible{
    outline: none;
}