.mouse{
    font-size:40px;
}

.mouse>i{
    animation-name: scroll;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}


@keyframes scroll{
    0% {
        transform: translateY(0);
        color: white;
    }
    30%{
        color: white;
    }
    100% {
        transform: translateY(20px);
        color: transparent;
    }
}