div.progress-bar{
    line-height: 30px;
}

div.progress-bar>label{
    margin: 0;
}

.progress-bg{
    background-color: #EDEFEC;
    width: 100%;
    height: 5px;
    position: relative;
    border-radius: 20px;
}

.progress-value{
    background-color: var(--main-color);
    width: 60%;
    height: inherit;
    border-radius: inherit;
    overflow: hidden;
}

.p-value-1::after{
    content: '60%';
    position:absolute;
    bottom: 5px;
    right: -3px;
}

.p-value-2::after{
    content: '10%';
    position:absolute;
    bottom: 5px;
    right: -3px;
}

.p-value-3::after{
    content: '30%';
    position:absolute;
    bottom: 5px;
    right: -3px;
}


