/*Base*/
@import '../base/base.css';
@import '../base/layout.css';

/*3rd party*/
@import '../3rd_party/font-awesome.min.css';

/*Components*/
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';
@import '../components/scroll-up.css';

.hero{
    padding-bottom: 20px;
}

.hero > .row-short{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:10px;
}

.logo{
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
    object-fit: contain;
}

.main-title{
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
}

.hero-description{
    margin: 0 0 40px 0;
    color: #B9C1D4;
}

.hero-clock{
    margin-bottom: 40px;
}

.footer.container{
    padding-top: 0;
}


@media(max-width:700px){
    .main-title{
    font-size: 40px;
    }
}